PORT=5008
CORS_ORIGIN=*

# Optional: Add your custom TURN server if you host Coturn on DigitalOcean
# TURN_URL=turn:your-droplet-ip:3478
# TURN_USERNAME=sharewatching
# TURN_PASSWORD=your_turn_secret_password

# Optional: Amazon S3 Configuration (If you prefer keeping S3 credentials on this server instead of Netlify)
# S3_ACCESS_KEY_ID=
# S3_SECRET_ACCESS_KEY=
# S3_REGION=ap-south-2
# S3_BUCKET_NAME=sharewatching-videos

